.cart-button-wrapper {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: salmon;
}

.cart-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background: inherit;
  transform: scale(1.15);
  cursor: pointer;
  color: white;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.cart-button:hover {
  filter: brightness(1.1);
  transition: 0.3s;
}

.cart-list-wrapper {
  border-radius: 5px;
  box-sizing: border-box;
  position: absolute;
  width: calc(100% + 40px);
  top: calc(100% + 8px);
  left: -20px;
  flex-direction: column;
  background: white;
  padding: 12px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

.cart-list-item {
  position: relative;
  width: max-content;
  display: flex;
  column-gap: 10px;
  margin: 5px 0 5px 0;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 2px;
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
}
.cart-list-item:first-child {
  margin-top: 0;
}
.cart-list-item:last-child {
  margin-bottom: 0;
}

.cart-list-item-image {
  height: 60px;
  width: 60px;
  border: 1px solid black;
  border-radius: 5px;
  object-fit: cover;
}
.cart-list-item-name {
  max-width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-list-item-name-qty {
  color: rgba(0, 0, 0, 0.5);
}
.cart-list-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.cart-list-item-remove {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.cart-list-item:hover > .cart-list-item-remove {
  display: flex;
}

.cart-list-checkout-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: right;
}
.cart-list-checkout-btn {
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  margin-top: 5px;
  padding: 6px 10px 6px 10px;
  background-color: salmon;
  font-size: 0.8rem;
}
