.form-card{
    height: fit-content;
}
.card{
    width:80%;
}
.form-details{
    width:60%;
}
.form-images{
    width:40%;
}
.nav-tabs .nav-links{
    border:none;
    background-color:#ffffff;
}
.nav-links.active {
    border-bottom: solid salmon;
    color:salmon
    
}
.card-link{
    color:salmon 
}
.product-card{
    cursor: pointer;
}
.product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.form-control{
    border-bottom: 1px solid #ced4da;
}
.addmainimages{
    border:solid;
    border-width: thin;
    width: 100%;
    height:75%;
    background-color:#ebf0f4
}
.addotherimages{
    width: 100%;
    height:25%;
}
.addimages{
    border:solid;
    width: 100%;
    height:100%;
    border-width: thin;
    background-color:#ebf0f4;
}
.sub-button {
    position: relative;
    display: flex;
    align-items: center; justify-content: center;
    /* bottom: 50%; right: 50%; */
    height: 50px; width: 50px;
    background-color:#ced4da ;
    border-radius: 50%;
    transition: all .3s ease;
}
.sub-button:hover {
    cursor: pointer;
}