.checkout-item-image {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}
.checkout-table-header-cell {
  font-weight: bold;
  font-size: 1.08rem;
}
.checkout-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.delete-btn {
  background-color: transparent;
  height: 30px;
  color: #f44336;
  font-size: 2rem;
  border: 1px solid #f44336;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inc-btn {
  background-color: transparent;
  height: 25px;
  color: black;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card_container_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#card_container {
  margin-left: 150px;
}
