.itemListContainer {
  display: flex;
  width: 100%;
  /* background-color: blueviolet; */
  justify-content: center;
  overflow-x: scroll;
  /* background-color:aliceblue; */
}
.itemsTable {
  display: flex;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: auto;
  align-items: center;
}
